@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Catalish Huntera';
		font-style: normal;
		font-weight: normal;
		font-display: swap;
		src: url('Catalish Huntera.woff') format('woff2');
	}
	html {
		font-family: 'Inter', sans-serif;
		font-optical-sizing: auto;
		font-weight: normal;
		font-style: normal;
		font-variation-settings: 'slnt' 0;
	}
}

@layer components {
	.no-autofill {
		-webkit-box-shadow: 0 0 0 30px transparent inset !important;
		box-shadow: 0 0 0 30px transparent inset !important;
		-webkit-background-clip: text;
		background-clip: text;
	}
}
