@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Catalish Huntera';
		font-style: normal;
		font-weight: normal;
		font-display: swap;
		src: url('Catalish Huntera.woff') format('woff2');
	}
	html {
		font-family: 'Inter', sans-serif;
		font-optical-sizing: auto;
		font-weight: normal;
		font-style: normal;
		font-variation-settings: 'slnt' 0;
	}

	 :root{
		--spacing : 10px;
		--inner-border : 16px;
		--outer-border : calc(var(--spacing) + var(--inner-border));
	} 
	
	/* 
	#BAED82
	#81C14B
	#2E933C
	
	#11270B
	#71B340
	#669D31 */
}

@layer components {
	.no-autofill {
		-webkit-box-shadow: 0 0 0 30px transparent inset !important;
		box-shadow: 0 0 0 30px transparent inset !important;
		-webkit-background-clip: text;
		background-clip: text;
	}
}

.light{
	--background : rgb(255, 255, 255);
	--background-surface : rgb(246, 246, 246);
	--text-primary : rgb(255, 252, 232);
	--text-secondary : rgb(107, 181, 9);
	--rs-primary-50: rgb(251, 255, 242);
	--rs-primary-100: rgb(228, 245, 193);
	--rs-primary-200: rgb(203, 235, 145);
	--rs-primary-300: rgb(179, 224, 101);
	--rs-primary-400: rgb(155, 214, 60);
	--rs-primary-500: rgb(131, 204, 22);
	--rs-primary-600: rgb(121, 196, 16);
	--rs-primary-700: rgb(107, 181, 9);
	--rs-primary-800: rgb(88, 158, 3);
	--rs-primary-900: rgb(68, 128, 0);
}
.dark{
	--background : rgb(124, 124, 124);
	--text-primary : rgb(255, 252, 232);
	--text-secondary : rgb(43, 43, 43);
	--rs-primary-50: rgb(251, 255, 242);
	--rs-primary-100: rgb(228, 245, 193);
	--rs-primary-200: rgb(141, 141, 141);
	--rs-primary-300: rgb(179, 224, 101);
	--rs-primary-400: rgb(155, 214, 60);
	--rs-primary-500: rgb(66, 66, 66);
	--rs-primary-600: rgb(121, 196, 16);
	--rs-primary-700: rgb(49, 49, 49);
	--rs-primary-800: rgb(88, 158, 3);
	--rs-primary-900: rgb(68, 128, 0);
}